@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin: 31px 100px;
}

.container h1 {
  margin-right: 60px;
}

.container ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 14px;
}

.contact {
  display: inline-block;
  width: 200px;
  height: 80px;
  padding: 33px 64px 29px;
  font-size: 12px;
  text-align: center;
  background: #000;
  color: #fff;
}

div {
  display: block;
  margin-bottom: 120px;
}

.maimvisual {
  width: 100%;
  height: 600px;
}

.mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

#news {
  display: block;
  width: 940px;
  height: 234px;
  margin: 120px auto;
}

.section {
  display: block;
}

.section-title {
  font-weight: normal;
  margin-bottom: 50px;
}

.section-title .english {
  display: block;
  font-size: 36px;
  letter-spacing: 0.3em;
}

.section-title .japanese {
  display: block;
  font-size: 14px;
}

.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-top: 36px;
}

.date-area {
  margin-bottom: 16px;
}

#news ul {
  display: flex;
  gap: 100px;
  list-style: none;
}

.news-li {
  width: calc(100% / 3);
  border-right: solid 1px #000;
}

.news-li p {
  margin-top: 16px;
}

.text {
  font-size: 14px;
}

.date-area span {
  display: inline-block;
  width: 50px;
  height: 20px;
  background: #000;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}

#about {
  display: flex;
}
#about .img {
  width: 55%;
}

#about .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}

#about p {
  line-height: 2.2;
}

#business {
  margin-bottom: 120px;
}

#business .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

#business .flex .item img {
  height: 232px;
}

#business .flex .left {
  width: 368px;
  margin-top: 100px;
}

#business .flex .right {
  width: 368px;
}

#business .flex .item {
  margin-bottom: 50px;
}

#business .flex .item:last-child {
  margin-bottom: 0;
}

#business .flex .title {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}

#company {
  display: flex;
  height: 750px;
  align-items: center;
  position: relative;
}

#company .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#company .text {
  width: 567px;
  background-color: #ffffff;
  padding: 100px 82px 100px 62px;
  position: absolute;
}

#company .info dt {
  width: 20%;
  margin-top: 10px;
}

#company .info dd {
  width: 80%;
  margin-top: 10px;
}

#company .info .add {
  margin-left: 85px;
}

#company .img {
  width: 547px;
  position: absolute;
  top: 115px;
  right: 0;
}

#company .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



footer {
  background-color: #ffffff;
  padding-bottom: 20px;
  margin-top: auto;
}

#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

#footer .logo {
  width: 100px;
  line-height: 1px;
}
#footer .logo img {
  width: 100%;
}

#footer .copyright {
  font-size: 10px;
}
